<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Market_Otomasyonu.Properties.Settings.market_otomasyonuConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\market-otomasyonu.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Market_Otomasyonu.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=(localdb)\MSSQLLocalDB;Integrated Security=SSPI;Initial File Name=&quot;C:\Users\HP\Documents\GitHub\Market-Otomasyonu\Market Otomasyonu\market-otomasyonu.mdf&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>